.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

a {
  font-size: 14px;
  font-weight: 700
}

.superNav {
  font-size: 13px;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width:540px) {
  .centerOnMobile {
    text-align: center
  }
}

#bgimg {
  bottom: 30rem;
  background-image: url(./images/bg.jpg);
  background-size: 100% 100%;
  animation: changeImage 20s linear infinite;
  height: 72rem;
  position: relative;

}

@keyframes changeImage {
  0% {
    background-image: url(./images/bg.jpg);
  }

  25% {
    background-image: url(./images/bg2.jpg);
  }

  50% {
    background-image: url(./images/bg3.jpg);
  }

  75% {
    background-image: url(./images/bg4.jpg);
  }

  100% {
    background-image: url(./images/bg5.jpg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

.phone {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
}

.cta {
  height: 50px;
  width: 152px;
  color: white;
  z-index: 1;
  transition: 1.2s;
  background-color: #0d6efd;
}

.number {
  height: 50px;
  width: 152px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1529044728228-9917df974897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  color: white;
  box-shadow: 3px 3px 30px #aaa;
}

.cta:hover {
  transform: translateX(-80%);
  transition: 1.2s;
}

#container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  bottom: 35rem;
  padding: 0px;
  margin: 34px
}

#container div {
  background-color: #007bff;
  align-items: center;
  margin: 10px;
  width: 100%;
  padding: 11px;
  margin: 6px;
  height: 15rem;
  border-radius: 15px;
  transition: 1s;
}

#container div:hover{
  position: relative;
  bottom: 6px ;
}


@media (max-width:600px) {
  #container {
    flex-direction: column;
  }
}


.tagging {
  text-align: left;
  position: relative;
  top: 39rem;
}

@media(max-width:400px) {
  .tagging {
    position: relative;
    transition: 2s;
    top: 30rem;
  }
}

@media (max-width:800px) {
  #container div {
    height: 19.5rem;
  }
}
.magic::before{
  position: static;
  box-shadow: 5px solid red;
}

.magic:hover {
  
  position: relative;
  bottom: 8px;
  box-shadow: 3px solid black;
}

#Ourdep{
  background-image: url(./images/bg-departments.png);
  background-position: top center;
  background-size: contain;
}

#people{
  background-image: url(./images/people.png);
  background-position: top center;
  background-size: contain;
}

.bg-1 {
  background: url(./images/about3.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 22rem;
}
#change{
  border-top: 5px solid #007bff;
  border-bottom: 5px solid #007bff;
}

.domain-search {
  margin: 0;
  padding:206px 0;
}


.bg-pblue {
  background-color: #35abdf;
}

.domain-search .form-title {
  margin-top: 0;
  margin-bottom: 2px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.domain-search p {
  color: #B0E7FF;
  margin: 0;
}

.domain-search .input-group {
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}


.domain-search .input-group-addon {
  border: none;
}

.domain-search .form-title strong {
  display: block;
}

.domain-search .form-control {
  height: 60px;
  border-radius: 0;
  border: none;
}

.domain-search .form-control:focus {

box-shadow: 0px 0px 0px 0px #ffffff !important;

}

.input-group .input-group-addon [type="submit"], .input-group .input-group-addon button {
  border: none;
  border-radius: 0;
}

.domain-search .btn {
  padding: 0 54px;
  line-height: 60px;
}



.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.domain-search .input-group + p {
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 0;
}

.domain-search .input-group + p strong {
  margin-right: 40px;
}


.card{
  border:none;

  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
}

.card:before{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#35abdf;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#007bff;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  font-size:11px;
}

.social-list{
  display:flex;
  list-style:none;
  justify-content:center;
  padding:0;
}

.social-list li{
  padding:10px;
  color:#007bff;
  font-size:19px;
}


.buttons button:nth-child(1){
     border:1px solid #007bff !important;
     color:#007bff;
     height:40px;
}

.buttons button:nth-child(1):hover{
     border:1px solid #007bff!important;
     color:#fff;
     height:40px;
     background-color:#007bff;
}

.buttons button:nth-child(2){
     border:1px solid #007bff !important;
     background-color:#007bff;
     color:#fff;
      height:40px;
}


























